<p>- <%= link_to_unless_current "Index",root_path %> <br></p>
<p>- <%= link_to_unless_current "About",about_path %> <br></p>
<p>- <%= link_to_unless_current "New",new_path %>  <br></p>
<p>- <%= link_to_unless_current "Information",information_path %> </p>
<p>- <%= link_to_unless_current "Index",root_path %> <br></p>
<p>- <%= link_to_unless_current "About",about_path %> <br></p>
<p>- <%= link_to_unless_current "New",new_path %>  <br></p>
<p>- <%= link_to_unless_current "Information",information_path %> </p>
<p>- <%= link_to_unless_current "Index",root_path %> <br></p>
<p>- <%= link_to_unless_current "About",about_path %> <br></p>
<p>- <%= link_to_unless_current "New",new_path %>  <br></p>
<p>- <%= link_to_unless_current "Information",information_path %> </p>